{# src\Serialken\BlogBundle\Resources\views\Blog #}

{# cette vue n'herite de personne elle sera incluse par qui en voudra #}

<h4>Formulaire de modification</h4>

{# ici je laisse vide c est la que je vais mettre mon formulaire#}
<div class="well">
  <form method="post" {{ form_enctype(form) }}>
    {# les erreurs generales du formulaire #}
      {{ form_errors(form) }}
      <div>
        {# generation du label. #}
         {{ form_label(form.titre, "Titre de l'article") }}
        {# affichage des erreurs pour ce label #}
         {{ form_errors(form.titre) }}
        {# Generation de l'input #}
        {{ form_widget(form.titre) }}
      </div>
    {# idem pour les autres champs #}
      <div>
         {{ form_label(form.contenu, "Contenu de l'article") }}
         {{ form_errors(form.contenu) }}
         {{ form_widget(form.contenu) }}
      </div>
      <div>
         {{ form_label(form.auteur, "Auteur de l'article") }}
         {{ form_errors(form.auteur) }}
         {{ form_widget(form.auteur) }}
      </div>
         {{ form_rest(form) }} 
       <input type="submit" class="btn btn-primary">
  </form>
</div>